# Lambda

### 1.(Funtion)(values)
### 2. x=Funtion
###    value=(values)
###    result=x(value)
###    print(result)

In [21]:
(lambda x:x+5)(5)

10

In [20]:
x=(lambda x,y:x+y)
value=(5,5)
result=(x)(*value)
print(result)

10

#### 1.Write a lambda function to add 10 to a given number.

In [22]:
(lambda x:x+10)(int(input('Enter a number : ')))

Enter a number :  10

20

#### 2. Write a lambda function to multiply two numbers.

In [24]:
(lambda x,y:x*y)(int(input('Enter a 1st number : ')),int(input('Enter a 2nd number : ')))

Enter a 1st number :  10
Enter a 2nd number :  10

100

#### 3.Write a lambda function to check if a number is even.

In [28]:
(lambda x: 'Even' if x%2==0 else 'Not even')(int(input('ENTER A NUMBER : ')))

ENTER A NUMBER :  38264

'Even'

#### 4.Write a lambda function to find the maximum of two numbers.

In [38]:
(lambda x,y:'Same number' if x==y else 'X is greater than y' if x>y else 'Y is greater than x')(1,1)

'Same number'

In [36]:
(lambda x,y:'Same number' if x==y else f'{x} is greater than {y}' if x>y else f'{y} is greater than {x}')(int(input('Enter a 1st number : ')),int(input('Enter a 2nd number : ')))

Enter a 1st number :  928346
Enter a 2nd number :  93742

'928346 is greater than 93742'

#### 5.Write a lambda function to get the last character of a string.

In [40]:
(lambda x:x[-1])('Vijayarajan')

'n'

#### 6.Write a lambda function to reverse a string.

In [41]:
(lambda x:x[::-1])('Vijayarajan')

'najarayajiV'

#### 7.Write a lambda function to convert a string to uppercase.

In [42]:
(lambda x:x.upper())('vijayarajan')

'VIJAYARAJAN'

#### 8.Write a lambda function to check if a string is a palindrome.

In [44]:
(lambda x:'Yes its a palindrome' if x==x[::-1] else 'Not a palindrome')('MADAM')

'Yes its a palindrome'

# lambda using map

##### list(map(lambda element: operation_on_element, iterable))

#### 1.Write a lambda function to square each number in a list of integers.

In [47]:
numbers = [1, 2, 3, 4, 5]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

#### 2.Write a lambda function to convert each string in a list to uppercase.

In [48]:
words = ['apple', 'banana', 'cherry']
list(map(lambda x:x.upper(),words))

['APPLE', 'BANANA', 'CHERRY']

#### 3. Write a lambda function to add 10 to each number in a list.

In [50]:
numbers = [5, 10, 15, 20]
list(map(lambda x:x+10,numbers))

[15, 20, 25, 30]

#### 4. Write a lambda function to find the length of each string in a list.

In [51]:
words = ['hello', 'world', 'python']
list(map(lambda x:len(x),words))

[5, 5, 6]

#### 5. Write a lambda function to check if each number in a list is even or odd (return True for even, False for odd).

In [52]:
numbers = [1, 2, 3, 4, 5, 6]
list(map(lambda x:'Odd' if x%2!=0 else 'Even',numbers))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

#### 6.Write a lambda function to reverse each string in a list.

In [53]:
words = ['abcd', 'efgh', 'ijkl']
list(map(lambda x:x[::-1],words))

['dcba', 'hgfe', 'lkji']

#### 7.Write a lambda function to get the first character of each string in a list.

In [55]:
words = ['apple', 'banana', 'cherry']
list(map(lambda x:x[0],words))

['a', 'b', 'c']

#### 8.Write a lambda function to concatenate ' is good' to each string in a list.

In [57]:
words = ['apple', 'banana', 'cherry']
list(map(lambda x:x+' is good',words))

['apple is good', 'banana is good', 'cherry is good']

#### 9.Write a lambda function to add corresponding elements from two lists.

In [59]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list(map(lambda x,y:x+y,list1,list2))

[5, 7, 9]

#### 10.Write a lambda function to subtract corresponding elements from two lists.

In [60]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list(map(lambda x,y:abs(x-y),list1,list2))

[3, 3, 3]

# Lambda using Filter

#### 1. Given a list of numbers, use a lambda function with filter to extract all even numbers.

In [130]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filter(lambda x:x%2==0,numbers)

#### 2.Given a list of numbers, use a lambda function with filter to extract all odd numbers.

In [129]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filter(lambda x:x%2!=0,numbers)

#### 3.Given a list of strings, use a lambda function with filter to extract all strings containing the letter 'a'.

In [128]:
words = ['apple', 'banana', 'cherry', 'date', 'fig', 'grape']
filter(lambda x:'a' in x,words)

#### 4.Given a list of strings, use a lambda function with filter to extract all strings with length greater than 3.

In [66]:
words = ['cat', 'dog', 'elephant', 'rat']
list(filter(lambda x:x if len(x)>3 else False,words))

['elephant']

In [67]:
words = ['cat', 'dog', 'elephant', 'rat']
list(filter(lambda x:len(x)>3,words))

['elephant']

#### 5.Given a list of strings, use a lambda function with filter to extract all palindromic strings.

In [70]:
words = ['level', 'radar', 'world', 'python', 'madam']
list(filter(lambda x:x==x[::-1],words))

['level', 'radar', 'madam']

#### 6.Given a list of names, use a lambda function with filter to extract all names starting with the letter 'J'.

In [71]:
names = ['John', 'Jake', 'Michael', 'Sarah', 'Jill']
list(filter(lambda x:x[0].lower()=='j',names))

['John', 'Jake', 'Jill']

# Lambda using Reduce

#### 1.Write a lambda function with reduce to find the sum of all elements in a list.

In [73]:
from functools import reduce

In [77]:
numbers = [1, 2, 3, 4, 5]
list=reduce(lambda x,y:x+y,numbers)
list

15

#### 2.Write a lambda function with reduce to find the product of all elements in a list.

In [78]:
numbers = [1, 2, 3, 4, 5]
res=reduce(lambda x,y:x*y,numbers)
res

120

#### 3.Write a lambda function with reduce to find the maximum value in a list.

In [81]:
numbers = [1, 5, 3, 9, 2]
res=reduce(lambda x,y:x if x>y else y,numbers)
res

9

#### 4.Write a lambda function with reduce to concatenate a list of strings into a single string.

In [82]:
words = ["Hello", "world", "this", "is", "Python"]
res=reduce(lambda x,y:x+' '+y,words)
res

'Hello world this is Python'

#### 5. Write a lambda function with reduce to flatten a list of lists into a single list.

In [123]:
list_of_lists = [[1, 2], [3, 4], [5, 6,7]]
res=reduce(lambda x,y:x+y,list_of_lists)
res

[1, 2, 3, 4, 5, 6, 7]

#### 6.Write a lambda function with reduce to find the longest string in a list of strings.

In [91]:
words = ["apple", "banana", "cherry", "date"]
res=reduce(lambda x,y:x if len(x)>len(y) else y,words)
res

'cherry'

#### 7.Write a lambda function with reduce to find the sum of squares of all elements in a list.

In [121]:
numbers = [1, 2, 3, 4]
res=reduce(lambda x,y:x+y**2,numbers,0)
res

30

#### 8.Write a lambda function with reduce to subtract all elements in a list from the first element.

In [122]:
numbers = [10, 1, 2, 3]
res=reduce(lambda x,y:x-y,numbers)
res

4

#### 9.Write a lambda function with reduce to count the occurrences of a specific character in a list of strings.

In [103]:
words = ["apple", "banana", "cherry"]
char = 'a'
res=reduce(lambda x,y:x+y.count(char),words,0)
res

4

#### 10.Write a lambda function with reduce to find the greatest common divisor (GCD) of a list of numbers.

In [104]:
from math import gcd

In [105]:
from math import gcd
numbers = [48, 64, 32]
result = reduce(lambda x, y: gcd(x, y), numbers)
print(result)

16

# Lambda using Map,filter,reduce

#### 1.Sum of squares of even numbers

In [134]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_squares_sum = reduce(lambda x, y: x + y**2, filter(lambda x: x % 2 == 0, numbers), 0)

print(even_squares_sum)

220