#### 1. Generate a list of the squares of all even numbers between 1 and 50.

In [1]:
x=[i for i in range(2,51,2)]
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

#### 2.  Create a list of the first 100 Fibonacci numbers.

In [77]:
y=[0,1]
[y.append(y[-1]+y[-2]) for i in range(1,11)]
y

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#### 3. Generate a list of prime numbers between 1 and 100.

In [1]:
prime=[x for x in range(2,100) if all(x%y!=0 for y in range(2,int(x/2)+1))]
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [142]:
prime=[x for x in range(2,62) if all(x%y!=0 for y in range(2,int(x**0.5)+1))]
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]

In [143]:
prime=[x for x in range(2,62) if all(x%y!=0 for y in range(2,x))]
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]

#### 4.Give multiple of each list in this list

In [61]:
number_list = [2, 3, 4, 5]
multiplication_table = [[x*y for x in number_list] for y in number_list]
print(multiplication_table)

[[4, 6, 8, 10], [6, 9, 12, 15], [8, 12, 16, 20], [10, 15, 20, 25]]

#### 5. Make a pair for two numbers which sum is greater than 10

In [79]:
list1 = [2, 4, 6]
list2 = [3, 5, 7]
pairs = [(x, y) for x in list1 for y in list2 if x + y > 10]
print(pairs)

[(4, 7), (6, 5), (6, 7)]

#### 6. Create a 5x5 matrix where each element is the product of its row and column indices.

In [60]:
matrix = [[i * j for i in range(1,5)] for j in range(1,5)]
matrix=np.array(matrix)
matrix

array([[ 1,  2,  3,  4],
       [ 2,  4,  6,  8],
       [ 3,  6,  9, 12],
       [ 4,  8, 12, 16]])

In [46]:
import numpy as  np

#### 7.Create a list of numbers between 1 and 100 that are divisible by either 3 or 5 but not both.

In [84]:
x=[i for i in range(1,101) if (i%3==0 or i%5==0) and i%15!=0]
print(x)

[3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27, 33, 35, 36, 39, 40, 42, 48, 50, 51, 54, 55, 57, 63, 65, 66, 69, 70, 72, 78, 80, 81, 84, 85, 87, 93, 95, 96, 99, 100]

#### 8.Flatten a 3D list into a 1D list.

In [86]:
a = [[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]], [[13, 14, 15], [16, 17, 18]]]
flattened = [k for i in a for j in i for k in j]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

#### 9.Create a list of strings where each string is the concatenation of its index and the corresponding number from 0 to 9.

In [87]:
indexed_strings = [f"{i}-{x}" for i, x in enumerate(range(10))]
print(indexed_strings)

['0-0', '1-1', '2-2', '3-3', '4-4', '5-5', '6-6', '7-7', '8-8', '9-9']

#### 10.Create a list of (key, value) pairs from a dictionary where the values are even.

In [89]:
dictionary = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
even_values = [[key, value] for key, value in dictionary.items() if value % 2 == 0]
print(even_values)

[['b', 2], ['d', 4]]

In [90]:
dictionary.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])