##### Question 1:
##### Given a string, reverse the order of words in it.

In [2]:
a='VIJAYARAJAN'
print(a[::-1]) #a[start:stop:step]
print(a[:11:3])
a[0::-1]  #a[0::-1] will start at index 0 ('V') and go backwards. Since there's no character before 'V', it only includes 'V'.

NAJARAYAJIV
VARA

'V'

##### Question 2:
##### Write a Python program to check if a given string is a palindrome.

In [15]:
b=input('Enter a name : ')
if b==b[::-1]:
    print('Yes its palindrome ')
else:
    print('Not a palindrome ')

Enter a name :  VIJAY

Not a palindrome

##### Question 3:
##### Remove all occurrences of a given character from a string.

In [3]:
c='VIJAYARAJAN'
c1='J'
c.replace(c1,'')

'VIAYARAAN'

##### Question 4:
##### Find the most frequent character in a string.

In [4]:
d='My name is Vijayarajan'
from collections import Counter
char_count = Counter(d)
char_count.most_common(1)[0][0]

'a'

In [13]:
char_count.most_common(4)

[('a', 5), (' ', 3), ('y', 2), ('n', 2)]

In [30]:
char_count = Counter(d)
char_count.most_common(1)

[('a', 5)]

In [15]:
char_counts={}
for i in d:
    char_counts[i]=char_counts.get(i,0)+1
print(char_counts)

{'M': 1, 'y': 2, ' ': 3, 'n': 2, 'a': 5, 'm': 1, 'e': 1, 'i': 2, 's': 1, 'V': 1, 'j': 2, 'r': 1}

##### Question 5:
##### Check if two strings are anagrams of each other.

In [17]:
e='DOG'
f='GOD'
sort1=sorted(e)
sort2=sorted(f)
if sort1==sort2:
    print('yes')
else:
    print('No')

yes

##### Question 6:
##### Count the number of vowels in a string.

In [42]:
vov='aeiou'
strn=input('Enter a name : ')
count=0
for i in strn:
    if i.lower() in vov:
        count+=1
print(count)

Enter a name :  VIJAYARAJAN

5

##### Question 7:
##### Capitalize the first letter of each word in a string.

In [47]:
g='my name is vijayarajan'
g.title()

'My Name Is Vijayarajan'

##### Question 8:
##### Find the length of the longest substring without repeating characters.

In [63]:
h='my name is vijayarajan'
h1=set(h)
print(h1)
len(h1)

{'n', 'a', 'r', 's', 'j', 'y', ' ', 'i', 'm', 'v', 'e'}

11

##### Question 9:
##### Check if a string is a valid email address.

In [18]:
must_char='@%&*#123456789'
name='Viay1@'
cnt=0
for i in name:
    if i in must_char:
        cnt+=1
        pass
    else:
        pass
if cnt>0:
    print('Valid')
else:
    print('Not valid')

Valid

##### Question 10:
##### Given a string, find the first non-repeating character in it.

In [72]:
def f(name):
  char_count = {}
  for i in name:
    char_count[i] = char_count.get(i, 0) + 1

  for j in name:
    if char_count[j] == 1:
      return j

name = input("Enter: ").lower()
print(f(name))

Enter:  Vvvijay

i

##### Q11 
##### Write a program to check whether two numbers are amicable or not (take the input from user).

In [4]:
def sum_of_divisors(num):
  """Calculates the sum of proper divisors of a number."""
  sum_div = 0
  for i in range(1, num):
    if num % i == 0:
      sum_div += i
  return sum_div

def is_amicable(num1, num2):
  """Checks if two numbers are amicable."""
  sum1 = sum_of_divisors(num1)
  sum2 = sum_of_divisors(num2)
  return sum1 == num2 and sum2 == num1

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if is_amicable(num1, num2):
  print(f"{num1} and {num2} are amicable numbers.")
else:
  print(f"{num1} and {num2} are not amicable numbers.")

Enter the first number:  220
Enter the second number:  240

220 and 240 are not amicable numbers.

## List

#### Q12
#### Write a function sum_list(lst) that takes a list of numbers and returns their sum.

In [75]:
sum_list=[1,2,3,4,5]
res=sum(sum_list)
res

15

#### Q13
#### Write a function find_max(lst) that returns the maximum value in a list of numbers.

In [77]:
max_list=[1,2,3,4,5,6]
res1=max(max_list)
res1

6

#### Q14
#### Write a function reverse_list(lst) that takes a list and returns a new list with the elements in reverse order.

In [82]:
reve_list=['V','I','J','A','Y']
reve_list[::-1]

['Y', 'A', 'J', 'I', 'V']

#### Q15
#### Write a function count_occurrences(lst, element) that returns the number of times the specified element appears in the list.

In [83]:
names = ["Alice", "Bob", "Charlie", "Diana", "Ethan","Alice"]
names.count('Alice')

2

#### Q16
#### Given a list of lists, write a list comprehension to flatten it into a single list.

In [84]:
nested_list = [[1, 2, 3], [4, 5], [6]]
res=[nested_list[0]+nested_list[1]+nested_list[2]]
res

[[1, 2, 3, 4, 5, 6]]

In [91]:
nested_list = [[1, 2, 3], [4, 5], [6]]
res = [ans for i in nested_list  for ans in i]
res

[1, 2, 3, 4, 5, 6]

#### Q17
#### Write a list comprehension to create a list of squares of even numbers from a given list.

In [96]:
result=[ans**2 for ans in range(1,11) if ans%2==0]
result

[4, 16, 36, 64, 100]

#### Q18
#### Given a string with alphanumeric characters, write a list comprehension to extract all the digits and convert them into integers.

In [102]:
# Result: [1, 2, 3]
s = "a1b2c3"
digits = [int(char) for char in s if char.isdigit()]
digits

[1, 2, 3]

#### Q19
#### Write a list comprehension to filter out palindromic words from a list of strings.

In [114]:
words = ["madam", "racecar", "hello", "world"]
palindromes = [word for word in words if word == word[::-1]]
palindromes

['madam', 'racecar']

#### Q20
#### Write a list comprehension to generate the first n Fibonacci numbers.

In [115]:
n=11
num1 = 0
num2 = 1
count = 0
while count < n:
    print(num1)
    nth = num1 + num2
    num1 = num2
    num2 = nth
    count += 1

0
1
1
2
3
5
8
13
21
34
55

#### Q21
#### Write a list comprehension to remove all vowels from each string in a list of strings.

In [125]:
names = ["Alice", "Bob", "Charlie", "Diana", "Ethan"]
vov = 'aeiou'

for i in range(len(names)):
    for j in names[i]:
        if j in vov:
            names[i] = names[i].replace(j, '')
    print(names[i])

Alc
Bb
Chrl
Dn
Ethn

#### Q22
#### Write a list comprehension to find all substrings of length 3 in a given string.

In [132]:
names = ["Alice", "Bob", "Charlie", "Diana", "Ethan"]
substrings = [names[i:i+3] for i in range(len(names) - 2)]
substrings

[['Alice', 'Bob', 'Charlie'],
 ['Bob', 'Charlie', 'Diana'],
 ['Charlie', 'Diana', 'Ethan']]

#### Q23
#### Write a list comprehension to extract unique characters from a string, in the order they first appear.

In [139]:
s = "abracadabra"
unique_chars = []
[unique_chars.append(char) for char in s if char not in unique_chars]
print(unique_chars)

['a', 'b', 'r', 'c', 'd']

#### Q24
#### Given two lists, one of keys and one of values, write a list comprehension to create a dictionary from these lists.

In [144]:
keys = ["apple", "banana", "cherry", "date", "elderberry"]
values = [0.5, 1.2, 0.75, 0.3, 0.9]
my_dict = dict(zip(keys, values))
print(my_dict)

{'apple': 0.5, 'banana': 1.2, 'cherry': 0.75, 'date': 0.3, 'elderberry': 0.9}

In [145]:
result = {keys[i]: values[i] for i in range(len(keys))}
result

{'apple': 0.5, 'banana': 1.2, 'cherry': 0.75, 'date': 0.3, 'elderberry': 0.9}

### Loops

#### Q25
#### Write a function that returns the longest sequence of consecutive numbers in a list using a while loop

In [152]:
num=[1, 9, 3, 10, 4, 20, 2, 11, 21, 12]
num.sort()
num   ## Incomplete

[1, 2, 3, 4, 9, 10, 11, 12, 20, 21]

#### Q26
#### Create a program that simulates a basic calculator (addition, subtraction, multiplication, division) until the user chooses to quit using a while loop.

In [204]:
num1=int(input('Enter a number : '))
num2=int(input('Enter a number : '))
stop='continue'
while stop!='stop':
    add=num1+num2
    sub=abs(num1-num2)
    mul=num1*num2
    if num1>num2:
        div=num1/num2
    else:
        div=num2/num1
    print(add,sub,mul,div)
    stop=input('If you want to stop Enter stop:').lower()
print('Stopped')

Enter a number :  1
Enter a number :  2

3 1 2 2.0

If you want to stop Enter stop: 3

3 1 2 2.0

If you want to stop Enter stop: 4

3 1 2 2.0

If you want to stop Enter stop: 5

3 1 2 2.0

If you want to stop Enter stop: stop

Stopped

#### Q27
#### Develop a function that removes all duplicates from a list without using set operations, utilizing a for loop.

In [163]:
names= ["Alice", "Bob", "Charlie", "Alice", "Diana", "Bob", "Ethan", "Charlie", "Fiona", "Alice"]
unique_list = []

for num in names:
    if num not in unique_list:
        unique_list.append(num)
print(unique_list)

['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona']

#### Q28
#### Create a while loop that reads integers from user input until a zero is entered, then outputs the sum of all entered integers.

In [258]:
emp_list=[]
stopper=1
while stopper!=0:
    i=int(input('Enter a number : '))
    if i==0:
        break 
    else:
        emp_list.append(i)
print(sum(emp_list))

Enter a number :  1
Enter a number :  2
Enter a number :  3
Enter a number :  4
Enter a number :  5
Enter a number :  0

15

#### Q29
#### Write a program using a while loop to find the smallest positive integer that is evenly divisible by all numbers from 1 to 10.

In [177]:
def smallest_divisible(n):
  num = 1
  while True:
    if all(num % i == 0 for i in range(1, n+1)):   ##?? Incomplete
        return num
    num += 1

result = smallest_divisible(10)
print(result)

2520

#### Q30
#### Use a for loop to print the first n prime numbers.

In [50]:
n = int(input("Enter a number: "))
c = 2

while n > 0:
  for i in range(2, int(c**0.5) + 1):
    if c % i == 0:
      break
  else:
    print(c)
    n -= 1
  c+=1    #### This is number of prime numbers we have

Enter a number:  5

2
3
5
7
11

In [1]:
num1=int(input('Enter a number : '))
cnt=0
for i in range(0,num1+1):
    for j in range(1,i+1):
        if i%j==0:
            cnt+=1
    if cnt==2:
        print(i)
    cnt=0      ## This is what are the prime numbers before that

Enter a number :  9

2
3
5
7

#### Q31
#### Develop a function that calculates the factorial of a number using a while loop

In [259]:
a=int(input('Enter a number :'))
f=1
for i in range(1,a+1):
    f=f*i
print(f)

Enter a number : 5

120

In [225]:
n = int(input("Enter a number: "))
result = 1
while n > 1:
  result *= n
  n -= 1
print(result)

Enter a number:  5

120

#### Q32
#### Write a while loop to find the greatest common divisor (GCD) of two numbers

In [228]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a
gcd(7,21)

7

#### Q33
#### Construct a guess the Number game using a while loop

In [51]:
import random

def guess_the_number():
    number = random.randint(1, 100)
    guess = None
    while guess != number:
        guess = int(input("Guess the number: "))
        if guess < number:
            print("Too low!")
        elif guess > number:
            print("Too high!")
        else:
            print("Correct!")
guess_the_number()

Guess the number:  23

Too low!

Guess the number:  26

Too low!

Guess the number:  45

Too low!

Guess the number:  66

Too low!

Guess the number:  77

Too low!

Guess the number:  88

Too high!

Guess the number:  80

Too low!

Guess the number:  81

Too low!

Guess the number:  82

Correct!

#### Q34
#### Calculate the power of a number using a while loop

In [231]:
def power(base, exp):
    result = 1
    while exp > 0:
        result *= base
        exp -= 1
    return result
print(power(2, 3))

8

#### Q35
#### Find all the factors of a given number using a for loop

In [232]:
def factors(n):
    result = []
    for i in range(1, n + 1):
        if n % i == 0:
            result.append(i)
    return result
print(factors(28))

[1, 2, 4, 7, 14, 28]

#### Q36
#### Check if a number is a perfect square using a while loop:

In [236]:
def perfect_square(n):
    i = 1
    while i * i <= n:
        if i * i == n:
            return True
        i += 1
    return False
print(perfect_square(17))

False

#### Q37
#### Find the sum of the squares of the first n natural numbers using a for loop:

In [237]:
def sum_of_squares(n):
    return sum(i * i for i in range(1, n + 1))
print(sum_of_squares(5))

55

#### Q38
#### Print the multiplication table of a given number using a for loop:

In [238]:
def multiplication_table(n):
    return [n * i for i in range(1, 11)]
print(multiplication_table(5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

#### Q39
#### Check if two strings are anagrams using a for loop:

In [239]:
def anagrams(str1, str2):
    return sorted(str1) == sorted(str2)
print(anagrams("listen", "silent"))

True

#### Q40
#### Find the LCM of two numbers using a while loop:

#### Q41
#### Find the sum of the first n even numbers using a for loop:

In [240]:
def sum_even_numbers(n):
    return sum(i for i in range(2, 2 * n + 1, 2))
print(sum_even_numbers(5))

30

#### Q42
#### Count the number of words in a sentence using a for loop:

In [246]:
def count_words(sentence):
    count = 0
    for word in sentence.split():
        count += 1
    return count
print(count_words("My name is Vijayarajan"))

4

#### Q43
#### Write a program to check whether two numbers are amicable or not (take the input from user).

In [247]:
def is_amicable(num1, num2):
  """Checks if two numbers are amicable."""
  sum1 = sum_of_divisors(num1)
  sum2 = sum_of_divisors(num2)
  return sum1 == num2 and sum2 == num1

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if is_amicable(num1, num2):
  print(f"{num1} and {num2} are amicable numbers.")
else:
  print(f"{num1} and {num2} are not amicable numbers.")

Enter the first number:  220
Enter the second number:  284

220 and 284 are amicable numbers.

#### Q44
#### Find the first missing positive integer:

In [248]:
def first_missing_positive(nums):
    nums = set(nums)
    i = 1
    while i in nums:
        i += 1
    return i
print(first_missing_positive([3, 4, -1, 1]))

2

#### Q45
#### Calculate the compound interest:

In [250]:
def CI(principal, rate, time):
    return principal * (1 + rate / 100) ** time
print(CI(1000, 5, 2))

1102.5

#### Q46
#### Split the bill equally among friends

In [252]:
def split_bill(total_amount, num_friends):
    return total_amount / num_friends
print(split_bill(1502, 3))

500.6666666666667

#### Q47
#### Convert Fahrenheit to Celsius:

In [253]:
def fahrenheit_to_celsius(f):
    return (f - 32) * 5/9
print(fahrenheit_to_celsius(98.6))

37.0

#### Q48
#### Calculate the average speed given distance and time:

In [254]:
def average_speed(distance, time):
    return distance / time
print(average_speed(150, 3))

50.0

#### Q49
#### Convert hours and minutes to total minutes:

In [255]:
def to_minutes(hours, minutes):
    return hours * 60 + minutes
print(to_minutes(2, 30))

150

### Q50
#### Calculate the number of complete weeks and remaining days given a total number of days:

In [262]:
def weeks_and_days(total_days):
    weeks = total_days // 7
    days = total_days % 7
    return weeks, days
total_days = 650
print(weeks_and_days(total_days))

(92, 6)